<a rel="me" href="https://qoto.org/@bevsxyz"></a>
{{ $binder := .Params.binder }}
{{ if or $binder.attach site.Params.binder }}
<!-- Configure and load Thebe !-->
<script type="text/x-thebe-config">
    {
        bootstrap: true,
        requestKernel: true,
        predefinedOutput: false,
        outputSelector: '[data-output]',
        binderOptions: {
            repo: '{{ $binder.repo | default "binder-examples/requirements" }}',
            ref: '{{ $binder.branch | default "master" }}',
            binderUrl: "https://mybinder.org",
            repoProvider: '{{ $binder.repoProvider | default "github" }}',
            savedSession: {
                enabled: true,
                maxAge: 86400,
                storagePrefix: "thebe-binder-",
            }
        },
        kernelOptions: {
            name: "{{ $binder.kernel | default "python3" }}",
            kernelName: "{{ $binder.kernel | default "python3" }}",
        }
    }
</script>
<script src="https://unpkg.com/thebelab@latest/lib/index.js"></script>
{{ end }}
